<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<fieldset>
    <legend>
        Login
    </legend>
    <form action = "/login" method="POST">
        <input type="text" placeholder="Username" name="userName" /> <br />
        <input type="password" placeholder="Password" name="password" /> <br />

        <input class="button" type="submit" style="text-align: center;" value="Login" /> <br /> <br />
        <a href="/signup">Not already an user, register here</a>
    </form>
</fieldset>

</body>
</html>
