<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>
<body>

<fieldset>
    <legend>
        Register new user
    </legend>
    <form action = "/signup" method="POST">
        <input type="text" placeholder="Name" name="name" /> <br />
        <input type="text" placeholder="Username" name="userName" /> <br />
        <input type="email" placeholder="Email" name="email" /> <br />
        <input type="password" placeholder="Password" name="password" /> <br />

        <input class="button" type="submit" style="text-align: center;" value="Register" />    
    </form>
</fieldset>

</body>
</html>
